.login__container {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;

  .form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    padding: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px 50px rgba(75, 75, 75, 0.1);

    .grid-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}
